/*List css*/
#pills-tab{
  justify-content: center;
}
ul{
  text-align: center;
}
li{
  padding: 2%;
  display: inline-block;
  font-weight: bold;
}
#list-view{
  align-content: center;
}

/*Hotel cards*/
.hotels{
  margin: 2%;
  background-color: lightgray;
  width: 40%;
  display: inline-block;
}
.hotels:hover{
  background-color: rosybrown;
}
.hotels-info{
  display: inline-block;
  align-self: center;
  margin-left: 2%;
}
#list-view img{
  height: 200px;
  width: 250px;
  float: left;
}
