html, body{
 width: 100%;
 height: 100%;
 font-family: 'Ubuntu',sans-serif;
}
a{
 text-decoration: none;
 color: black;
}
body{
 margin: 0;
 background-color: #e0e0e0;
}
.container{
 display: flex;
 flex-direction: column;
}
header, footer{
 background-color: rosybrown;
}
header{
 display: flex;
 justify-content: space-between;
 position: sticky;
 top: 0;
}
/*Login button*/
header a{
 justify: flex-end;
 align-self: center;
 margin-right: 2%;
}
/*Logo*/
header img{
  height: 60px;
  width: 60px;
  justify-content: flex-start;
  margin-left: 1%;
}
/*List css*/
ul{
  text-align: center;
}
li{
  padding: 2%;
  display: inline-block;
  font-weight: bold;
}
#list-view{
  align-content: center;
}
/*Map view - no display*/
#map-view{
  display: none;
}
/*Hotel cards*/
.hotels{
  margin: 2%;
  background-color: lightgray;
  width: 40%;
  display: inline-block;
}
.hotels-info{
  display: inline-block;
  align-self: center;
  margin-left: 2%;
}
#list-view img{
  height: 200px;
  width: 250px;
  float: left;
}
.social-links{
  width: 80px;
}
.social-links img{
  width: 22px;
  height: 20px;
}
/*Footer whole*/
footer{
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1%;
}
footer a{
  align-self: center;
  order: 1;
  margin-left: 2%;
}
footer .social-links{
  align-self: center;
  order: 3;
  margin-right: 2%;
}
footer span{
  order: 2;
  font-size: 10px;
  align-self: center;
}
